<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="菜单管理">
	<#include "/admin/includes/header.html"/>
	<link rel="stylesheet" href="/static/a/css/validationEngine.jquery.css" />
	<link rel="stylesheet" href="/static/a/css/daterangepicker.css" />
	<style>
		.formError-small .formErrorContent {border-color: #fff; border-radius: 0;}
	</style>
</head>

<body class="custom">
	<div class="page-content">
		<div class="page-header">
			<div class="widget-box">
				<form id="search-form" class="form-horizontal" role="form" onsubmit="return admin.search();">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>搜索</h6>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a>
						</div>
						<div class="widget-toolbar no-border">
							<button class="btn btn-xs btn-info" type="submit"><i class="icon-search bigger-110"></i> 查&nbsp;询
							</button><button class="btn btn-xs" type="reset"><i class="icon-undo bigger-110"></i> 重&nbsp;置</button>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group">
								<div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_id"> 菜单编号: </label>
									<div class="col-sm-8">
										<input id="s-menu_id" type="text" placeholder="菜单编号" class="col-sm-12 validate[custom[integer]]" name="rq['menu_id']">
									</div>
								</div>
								<div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_name"> 菜单名称: </label>
									<div class="col-sm-8">
										<input type="text" id="s-menu_name" placeholder="菜单名称" class="col-sm-12" name="rq['menu_name']">
									</div>
								</div>
								<div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_state"> 菜单状态: </label>
									<div class="col-sm-8">
										<select id="s-menu_state" class="col-sm-12" name="rq['menu_state']">
											<option value=""></option>
											<option value="AL">Alabama</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_date"> 数据日期: </label>
									<div class="col-sm-8">
										<input type="text" class="auto-bind-timepicker col-sm-12" id="s-menu_date" data-constraint="rq['menu_date']" autocomplete="off"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /.page-header -->
		<!-- /row -->
		<!-- PAGE CONTENT ENDS -->
	</div>
	
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	<script type="text/javascript">
		
	</script>
</body>

</html>