<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="菜单页面配置">
	<#include "/admin/includes/header.html"/>
	<link rel="stylesheet" href="/static/a/css/validationEngine.jquery.css" />
	<link rel="stylesheet" href="/static/a/css/daterangepicker.css" />
	<style>
		.formError-small .formErrorContent {border-color: #fff; border-radius: 0;}
		.custom .page-header .widget-main {padding: 4px;}
	</style>
</head>

<body class="custom">
	<div class="page-content">
		<div class="page-header">
			<div class="widget-box">
				<div class="widget-header header-color-blue">
					<h6><i class="icon-cogs"></i>配置台</h6>
					<div class="widget-toolbar">
						<a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<button class="btn btn-sm btn-success" onclick="admin.addDto();"><i class="icon-search"></i> 搜索表单
						</button><button class="btn btn-sm btn-danger" onclick="admin.editDto();"><i class="icon-table"></i> 数据列表
						</button><button class="btn btn-sm btn-danger" onclick="admin.editDto();"><i class="icon-edit"></i> 实例表单
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="widget-box">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-table"></i>数据表</h6>
						<div class="widget-toolbar"><a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a></div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
			<div class="col-xs-6">
				<div class="widget-box">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-table"></i>表字段</h6>
						<div class="widget-toolbar"><a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a></div>
					</div>
					<div class="widget-body">
<!-- 						<div class="widget-toolbox">
							<div class="btn-toolbar">
								<div class="btn-group" id="opt-cnter">
									<button class="btn btn-sm btn-success" onclick="admin.addDto();"><i class="icon-plus"></i> 新增
									</button><button class="btn btn-sm btn-danger" onclick="admin.editDto();"><i class="icon-edit"></i> 编辑</button>
								</div>
							</div>
						</div> -->
						<div class="widget-main">
							<table id="grid-table-column"></table>
							<div id="grid-pager-column"></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div>
		<!-- /row -->
		<!-- PAGE CONTENT ENDS -->
	</div>
	
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	<script type="text/javascript">
		var $grid = $('#grid-table'), pagerSelector = '#grid-pager', $gridCol = $('#grid-table-column'), pagerColSelector = '#grid-pager-column', $header = $('.page-header:first'), $height = $(window).height() - $header.height() - 230;
		loadJS('jqgrid', function(){
			$grid.jqGrid({
				url : '/admin/db/tables',//config
				mtype: 'POST',
		        datatype : "json",
		        jsonReader: {
		            page: "pageNumber",   // json中代表当前页码的数据  
		            total: "totalPages", // json中代表页码总数的数据  
		            records: "total" // json中代表数据行总数的数据  
		        },
		        prmNames:  {page:'page', rows:'size', sort: 'sort', order: 'order', search: null, nd: null, npage:null},
				height: $height + 40,
				colNames:['表名', '表注释'],//config
				colModel:[//config
					{name:'TABLE_NAME', index:'TABLE_NAME', width:60},
					{name:'TABLE_COMMENT', index:'TABLE_COMMENT', sortable: false}
				], 
				rownumbers: false,//显示行编号
				viewrecords : true,
				rowNum: 10,
				rowList: [10,30,50,100],
				pager : pagerSelector,
				recordpos: 'center',
				pagerpos: 'right',
				recordtext: '显示 {0} - {1} 共 {2} 条',
				pgtext : '第 {0} 页， 共 {1} 页',
				loadtext: '正在请求数据...',
				altRows: true,
				
				//multiSort: true,
				multiselect: false,
				//multikey: "ctrlKey",
		        multiboxonly: false,
		
				loadComplete : function() {
					var _this = this;
					setTimeout(function(){
						//styleCheckbox(_this);
						//updateActionIcons(_this);
						updatePagerIcons(_this);
					}, 0);
				},
				onSelectRow: function(rowid,status){
					var pd = $gridCol.jqGrid('getGridParam','postData');
					pd['tableName'] = $grid.jqGrid('getRowData', rowid)['TABLE_NAME'];
					$gridCol.jqGrid("setGridParam",{postData: pd}).trigger("reloadGrid");
				},
				editurl:'',//nothing is saved
				autowidth: true
			});
			//按钮自定义样式
			$grid.jqGrid('navGrid', pagerSelector, {   //navbar options
			            edit: false,
			            add: false,
			            del: false,
			            search: false,
			            refresh: true,
			            refreshicon : 'icon-refresh green',
			            view: false
		        }
		    );
			//替换分页插件的按钮图标
			function updatePagerIcons(table) {
				var replacement = {
					'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
					'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
					'ui-icon-seek-next' : 'icon-angle-right bigger-140',
					'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
				};
				$('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
					var icon = $(this);
					var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
					if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
				});
			}
			
			$gridCol.jqGrid({
				url : '/admin/db/columns',//config
				mtype: 'POST',
		        datatype : "json",
		        jsonReader: {
		            page: "pageNumber",   // json中代表当前页码的数据  
		            total: "totalPages", // json中代表页码总数的数据  
		            records: "total" // json中代表数据行总数的数据  
		        },
		        prmNames:  {page:'page', rows:'size', sort: 'sort', order: 'order', search: null, nd: null, npage:null},
				height: $height + 40,
				colNames:['字段排序', '字段名', '字段类型', '字段注释'],//config
				colModel:[//config
					{name:'ORDINAL_POSITION', index:'ORDINAL_POSITION', width:60},
					{name:'COLUMN_NAME', index:'COLUMN_NAME', sortable: true},
					{name:'COLUMN_TYPE', index:'COLUMN_TYPE', sortable: true},
					{name:'COLUMN_COMMENT', index:'COLUMN_COMMENT', sortable: false}
				], 
				rownumbers: false,//显示行编号
				viewrecords : true,
				rowNum: 10,
				rowList: [10,30,50,100],
				pager : pagerColSelector,
				recordpos: 'center',
				pagerpos: 'right',
				recordtext: '显示 {0} - {1} 共 {2} 条',
				pgtext : '第 {0} 页， 共 {1} 页',
				loadtext: '正在请求数据...',
				altRows: true,
				
				//multiSort: true,
				multiselect: true,
				//multikey: "ctrlKey",
		        multiboxonly: false,
		
				loadComplete : function() {
					var _this = this;
					setTimeout(function(){
						updatePagerIcons(_this);
					}, 0);
				},
				editurl:'',//nothing is saved
				autowidth: true
			});
			
			$gridCol.jqGrid('navGrid', pagerColSelector, {
			            edit: false,
			            add: false,
			            del: false,
			            search: false,
			            refresh: true,
			            refreshicon : 'icon-refresh green',
			            view: false
			  	}
			);
		});
		
	</script>
</body>

</html>