<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="菜单页面配置">
	<#include "/admin/includes/header.html"/>
	<link rel="stylesheet" href="/static/a/css/validationEngine.jquery.css" />
	<link rel="stylesheet" href="/static/a/js/editor/css/wangEditor.min.css" />
	<style>
		.formError-small .formErrorContent {border-color: #fff; border-radius: 0;}
		.custom .page-header .widget-main {padding: 4px;}
		.wangEditor-container .wangEditor-txt p {margin: 0; line-height: 1.4;}
	</style>
</head>

<body class="custom">
	<div class="page-content">
		<div class="page-header">
			<div class="widget-box">
				<div class="widget-header header-color-blue">
					<h6><i class="icon-cogs"></i>配置台</h6>
					<div class="widget-toolbar">
						<a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<button class="btn btn-sm btn-success" onclick="configSearch()"><i class="icon-search"></i> 搜索表单
						</button><button class="btn btn-sm btn-danger" onclick="configGrid();"><i class="icon-table"></i> 数据列表
						</button><button class="btn btn-sm btn-info" onclick="configObject();"><i class="icon-coffee"></i> 对象表单
						</button><button class="btn btn-sm btn-purple" onclick="configGlobal();"><i class="icon-globe"></i> 全局设置
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<div class="widget-box">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-table"></i>数据表</h6>
						<div class="widget-toolbar">
						<!-- <input type="text" id="tableName" class="input-sm" placeholder="数据表名"/><button onclick="searchGrid1();" class="btn btn-xs btn-info position-relative" type="button" style="top:-1px;"><i class="icon-search bigger-110"></i> 查&nbsp;询</button> -->
							<a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
			<div class="col-xs-7" style="padding-left: 0;">
				<div class="widget-box">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-table"></i>表字段</h6>
						<div class="widget-toolbar"><a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a></div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<table id="grid-table-column"></table>
							<div id="grid-pager-column"></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div>
		<!-- /row -->
		<div id="dto-model" class="dto-model-hide">
			<form id="dto-form" class="form-horizontal" role="form" onsubmit="return submitConfig();">
				<div class="widget-box no-border">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>表单</h6>
					</div>
					<div class="widget-body">
						<input id="config-sub-method" type="hidden" name="configSubMethod" value="return admin.search();">
						<div class="widget-main"></div>
						<div class="widget-toolbox padding-8 clearfix">
							<button type="button" class="btn btn-sm btn-danger pull-right" onclick="admin.closeDtoModel();">
								<i class="icon-trash"></i><span class="bigger-110"> 取&nbsp;消</span>
							</button>
							<button type="submit" class="btn btn-sm btn-primary pull-right">
								<i class="icon-ok"></i><span class="bigger-110"> 确&nbsp;定</span>
							</button>
							<button type="button" class="c-ele c-ele-search c-ele-object hide btn btn-sm btn-purple pull-right" onclick="replaceFormSubmit();" title="替换默认的表单提交方法">
								<i class="icon-legal"></i><span class="bigger-110"> 提交方法</span>
							</button>
							<button type="button" class="c-ele c-ele-object hide btn btn-sm btn-info pull-right" onclick="exchangeObjectType(this)">
								<i class="icon-exchange"></i><span class="bigger-110">切换到修改</span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div>
	
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	<script type="text/javascript">	
		var curMenuId = parent.curMenuId;//当前索要配置的菜单编号，如果不村子则关闭当前iframe
		var dto = {};//已经存在的配置
		var $grid = $('#grid-table'), pagerSelector = '#grid-pager', $gridCol = $('#grid-table-column'), pagerColSelector = '#grid-pager-column', $header = $('.page-header:first'), $height = $(window).height() - $header.height() - 230;
		var dtoModelSelector = '#dto-model', $dtoModel = $(dtoModelSelector), $dtoForm = $('#dto-form');
								  //是否能切换表格
		var	curTarget = 'search', tableSwitchable = true, selectedTable = null, selectedArr = new Array();//配置search时已经选择的字段
		var editors = {
				'editor-colModel': null,
				'editor-js': null,
				'editor-html': null
		};
		if(curMenuId === undefined)
			layer.msg('请选择需要配置的菜单');
		else{
			//查询数据库看是否存在改菜单的配置
			var config = {'menuId': curMenuId}
			$.get('/admin/cfg/get', config, function(data){
				if(data.success) dto = data.data.dto;
				init();
			}, 'json');
		}
		
		function init(){
			loadJS('jqgrid', function(){
				$grid.jqGrid(admin.getGridOption({
					url : '/admin/db/tables',//config
					height: $height + 40,
					colNames:['表名', '表注释'],//config
					colModel:[//config
						{name:'TABLE_NAME', index:'TABLE_NAME', width: 100},
						{name:'TABLE_COMMENT', index:'TABLE_COMMENT', sortable: false}
					], 
					pager: pagerSelector,
					multiselect: false,
					onSelectRow: function(rowid,status){
						var pd = $gridCol.jqGrid('getGridParam','postData');
						pd['tableName'] = $grid.jqGrid('getRowData', rowid)['TABLE_NAME'];
						$gridCol.jqGrid("setGridParam",{postData: pd}).trigger("reloadGrid");
					},
					beforeSelectRow: function(){
						return tableSwitchable;
					}
				}));
				//按钮自定义样式
				$grid.jqGrid('navGrid', pagerSelector, {   //navbar options
				            edit: false,
				            add: false,
				            del: false,
				            search: false,
				            refresh: true,
				            refreshicon : 'icon-refresh green',
				            view: false
			        }
			    );
				
				$gridCol.jqGrid(admin.getGridOption({
					url: '/admin/db/columns',//config
					height: $height + 40,
					colNames:['字段排序', '字段名', '字段类型', '数据类型', '字段注释'],//config
					colModel:[//config
						{name:'ORDINAL_POSITION', index:'ORDINAL_POSITION', width:60},
						{name:'COLUMN_NAME', index:'COLUMN_NAME', sortable: true},
						{name:'COLUMN_TYPE', index:'COLUMN_TYPE', sortable: false, hidden: true},
						{name:'DATA_TYPE', index:'DATA_TYPE', sortable: true},
						{name:'COLUMN_COMMENT', index:'COLUMN_COMMENT', sortable: false}
					], 
					pager : pagerColSelector,
					onSelectRow: function(rowid, status){
						if(curTarget !== 'search' && curTarget !== 'object') return;
						var col = $gridCol.jqGrid('getRowData', rowid);
						var type = $dtoModel.attr('type');
						var cn = col.COLUMN_NAME, cr = '.widget-main';
						if(curTarget === 'object'){
							if(!type){
								$dtoModel.find('.widget-main').html('<div class="c-ele-add"></div><div class="c-ele-edit hide"></div>');
								type = 'add';
							}
							cn = type+'_'+cn;
							cr = '.c-ele-'+type;
						}
						var index = selectedArr.indexOf(cn);
						if(status){//选中
							if(index !== -1)
				    			return;
				    		selectedArr.push(cn);
							$dtoModel.find(cr).append(getColumnElement(col));
						}else{//取消选中
							selectedArr.splice(index, 1);
							if(curTarget === 'object')
								$('.c-ele-'+ type +'>.identity_'+ col.COLUMN_NAME).remove();
							else
								$('.identity_'+ col.COLUMN_NAME).remove();
						}
					}
				}));
				
				$gridCol.jqGrid('navGrid', pagerColSelector, {
				            edit: false,
				            add: false,
				            del: false,
				            search: false,
				            refresh: true,
				            refreshicon : 'icon-refresh green',
				            view: false
				  	}
				);
			});
		}
		
		//搜索第一张表格的信息
		function searchGrid1(){
			$('#tableName').val();
			alert(1);
		}

		//搜索部分字段html
		function getColumnElement(col){
			var html = new Array();
			html.push('<div class="identity_'+ col.COLUMN_NAME +' form-data form-group">');
				html.push('<div class="col-sm-12">');
					html.push('<input type="text" name="label" value="'+ (col.label ? col.label : '') +'" placeholder="显示名称" class="col-sm-2 validate[required]" title="字段显示名称">');
					html.push('<input type="text" name="name" value="'+ col.COLUMN_NAME +'" placeholder="字段名称" class="col-sm-2 validate[required]" title="字段名称">');
					html.push('<input type="hidden" name="column" value="'+col.COLUMN_NAME+'">');//考虑到表单字段与实际数据名可能不一样的情况
					html.push('<input type="text" name="value" value="'+ (col.value ? col.value : '') +'" placeholder="默认值" class="col-sm-2" title="默认值">');
					html.push('<input type="text" name="type" value="'+ col.DATA_TYPE +'" readonly="readonly" placeholder="字段数据类型" class="col-sm-2" title="字段数据类型">');
					html.push('<select name="widget" class="col-sm-2" title="前台控件类型">');
						html.push('<option value="text"'+ (col.widget && col.widget === 'text' ? ' selected' : '') +'>text</option>');
						html.push('<option value="select"'+ (col.widget && col.widget === 'select' ? ' selected' : '') +'>select</option>');
						html.push('<option value="date"'+ (col.widget && col.widget === 'date' ? 'selected' : '') +'>date</option>');
						html.push('<option value="hidden"'+ (col.widget && col.widget === 'hidden' ? 'selected' : '') +'>hidden</option>');
					html.push('</select>');
						html.push('<select name="source" class="col-sm-2" title="内容来源">');
						html.push('<option value=""></option>');
						html.push('<option value="fixed"'+ (col.source && col.source === 'fixed' ? ' selected' : '') +'>fixed</option>');
						html.push('<option value="url"'+ (col.source && col.source === 'url' ? ' selected' : '') +'>url</option>');
					html.push('</select>');
					html.push('<input type="text" name="vali" value="'+ (col.vali ? col.vali : '') +'" class="col-sm-12" rows="1" placeholder="验证规则" style="margin-top: 2px;">');
				html.push('</div>');
			html.push('</div>');
			return html.join('');
		}
		
		//配置搜索部分
		function configSearch(){
			if(curTarget !== 'search'){
				$dtoModel.find('.widget-main').empty();
				selectedArr = new Array();
			}
			curTarget = 'search';
			$('.c-ele').addClass('hide');
			$('.c-ele-search').removeClass('hide');
			//$('#config-sub-method').val('return admin.search();');
			//是否已经选择了数据表
			var gr = $grid.jqGrid('getGridParam', 'selrow');//获取最新你选择行的id
		    if (gr != null){
		    	$dtoModel.removeClass('dto-model-hide').find('h6').html('<i class="icon-search"></i> 配置搜索表单');
		    	//首先要看dto存不存在
		    	if(dto && dto['cfgSearch']){
		    		var cs = $.parseJSON(dto.cfgSearch);
			    	if(cs['cols']) {
			    		var col = null, html = new Array();
			    		$(cs.cols).each(function(i, c){
			    			col = c;
				    		if(selectedArr.indexOf(c.column) !== -1)
				    			return;
				    		selectedArr.push(c.column);
				    		
				    		col.COLUMN_NAME = c.column;
				    		col.DATA_TYPE = c.type;
				    		
				    		html.push(getColumnElement(col));
				    	});
			    		$dtoModel.find('.widget-main').append(html.join(''));
			    	}
		    	}
		    	//如果已经选择有字段，拼装这些字段
		    	var cols = $gridCol.jqGrid('getGridParam', 'selarrrow');//获取选择行id的array
		    	if(cols.length > 0){
			    	var col = null, html = new Array();
			    	$(cols).each(function(i, v){
			    		col = $gridCol.jqGrid('getRowData', v);
			    		if(selectedArr.indexOf(col.COLUMN_NAME) !== -1)
			    			return;
			    		selectedArr.push(col.COLUMN_NAME);
			    		html.push(getColumnElement(col));
			    	});
			    	$dtoModel.find('.widget-main').append(html.join(''));
		    	}
		    	openModel();
		    }else
		      layer.msg('请选择数据表');
		}
		
		function getGridListElement(grid){
			if(typeof grid === 'string')
				grid = $.parseJSON(grid);
			var html = new Array();
				html.push('<div class="form-data col-sm-12">');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="list"> 列表链接: </label>');
						html.push('<input type="text" name="list" placeholder="列表链接" class="col-sm-9 validate[required]" title="列表链接" value="'+ (grid && grid['url']['list'] ? grid['url']['list'] : '') +'">');
					html.push('</div>');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="add"> 新增链接: </label>');
						html.push('<input type="text" name="add" placeholder="新增链接" class="col-sm-9 validate[required]" title="新增链接" value="'+ (grid && grid['url']['add'] ? grid['url']['add'] : '') +'">');
					html.push('</div>');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="del"> 删除链接: </label>');
						html.push('<input type="text" name="del" placeholder="删除链接" class="col-sm-9 validate[required]" title="删除链接" value="'+ (grid && grid['url']['del'] ? grid['url']['del'] : '') +'">');
					html.push('</div>');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="edit"> 修改链接: </label>');
						html.push('<input type="text" name="edit" placeholder="修改链接" class="col-sm-9 validate[required]" title="修改链接" value="'+ (grid && grid['url']['edit'] ? grid['url']['edit'] : '') +'">');
					html.push('</div><hr/>');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="colNames"> 字段名称: </label>');
						html.push('<textarea name="colNames" class="col-sm-9 validate[required]" rows="1" title="字段名称">'+ (grid && grid['option'] ? JSON.stringify(grid['option']['colNames']) : '[]') +'</textarea>');
					html.push('</div>');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="colModel"> 字段配置: </label>');
						html.push('<textarea class="col-sm-9 validate[required]" name="colModel" rows="12" title="字段配置">'+ (grid && grid['option'] ? JSON.stringify(grid['option']['colModel']) : '[]') +'</textarea>');
					html.push('</div>');
				html.push('</div>');
			return html.join('');
		}
		
		//配置数据列表
		function configGrid(){
			if(curTarget !== 'grid') $dtoModel.find('.widget-main').empty();
			curTarget = 'grid';
			$('.c-ele').addClass('hide');
			$('.c-ele-grid').removeClass('hide');
			//是否已经选择了数据表
			var gr = $grid.jqGrid('getGridParam', 'selrow');//获取最新你选择行的id
		    if (gr != null){
		    	$dtoModel.removeClass('dto-model-hide').find('h6').html('<i class="icon-table"></i> 配置数据列表');
		    	
		    	$dtoModel.find('.widget-main').empty().append(getGridListElement(dto['cfgGrid']));
		    	
		    	//initEditor('editor-colModel');
		    	openModel();
		    }else
		      layer.msg('请选择数据表');
		}
		
		//配置对象增加添加表单
		function configObject(){
			if(curTarget !== 'object'){
				$dtoModel.find('.widget-main').empty();
				selectedArr = new Array();
			}
			$dtoModel.find('.widget-main').html('<div class="c-ele-add"></div><div class="c-ele-edit hide"></div>');
			curTarget = 'object';
			$('.c-ele').addClass('hide');
			$('.c-ele-object').removeClass('hide');
			//$('#config-sub-method').val('return admin.submitDtoModelForm();');
			$dtoModel.attr('type', 'add').find('.c-ele-add').removeClass('hide').siblings().addClass('hide');
			//是否已经选择了数据表
			var gr = $grid.jqGrid('getGridParam', 'selrow');//获取最新你选择行的id
		    if (gr != null){
		    	$dtoModel.removeClass('dto-model-hide').find('h6').html('<i class="icon-plus"></i> 配置对象-新增表单');
		    	//首先要看dto存不存在
		    	var col = null, html = new Array();
		    	if(dto && dto['cfgObject']){
		    		var cs = $.parseJSON(dto.cfgObject);
			    	if(cs['cols']) {
			    		$(cs.cols['add']).each(function(i, c){
			    			col = c;
				    		if(selectedArr.indexOf('add_'+c.column) !== -1)
				    			return;
				    		selectedArr.push('add_'+c.column);
				    		
				    		col.COLUMN_NAME = c.column;
				    		col.DATA_TYPE = c.type;
				    		
				    		html.push(getColumnElement(col));
				    	});
			    		var hl = new Array();
			    		$(cs.cols['edit']).each(function(i, c){
			    			col = c;
				    		if(selectedArr.indexOf('edit_'+c.column) !== -1)
				    			return;
				    		selectedArr.push('edit_'+c.column);
				    		
				    		col.COLUMN_NAME = c.column;
				    		col.DATA_TYPE = c.type;
				    		
				    		hl.push(getColumnElement(col));
				    	});
			    		$dtoModel.find('.c-ele-edit').append(hl.join(''));
			    	}
		    	}
		    	var cols = $gridCol.jqGrid('getGridParam', 'selarrrow');//获取选择行id的array
		    	if(cols.length > 0){
			    	$(cols).each(function(i, v){
			    		col = $gridCol.jqGrid('getRowData', v);
			    		if(selectedArr.indexOf('add_'+col.COLUMN_NAME) !== -1)
			    			return;
			    		selectedArr.push('add_'+col.COLUMN_NAME);
			    		html.push(getColumnElement(col));
			    	});
		    	}
		    	$dtoModel.find('.c-ele-add').append(html.join(''));
		    	openModel();
		    }else
		      layer.msg('请选择数据表');
		}
		//切换对象表单类型
		function exchangeObjectType(btn){
			var type = $dtoModel.attr('type');
			switch(type){
				case 'add':
					$(btn).find('span').html('切换到新增');
					$dtoModel.attr('type', 'edit').find('.c-ele-edit').removeClass('hide').siblings().addClass('hide');
					$dtoModel.find('h6').html('<i class="icon-edit"></i> 配置对象-编辑表单');
					break;
				case 'edit':
					$(btn).find('span').html('切换到编辑');
					$dtoModel.attr('type', 'add').find('.c-ele-add').removeClass('hide').siblings().addClass('hide');
					$dtoModel.find('h6').html('<i class="icon-plus"></i> 配置对象-新增表单');
					break;
				default: 
					$(btn).find('span').html('切换到新增');
					$dtoModel.attr('type', 'edit').find('.c-ele-edit').removeClass('hide').siblings().addClass('hide');
					$dtoModel.find('h6').html('<i class="icon-edit"></i> 配置对象-编辑表单');
			}
		}
		
		function getGlobalElement(global){
			var html = new Array();
				html.push('<div class="form-data col-sm-12">');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="js"> js代码: </label>');
						html.push('<div class="col-sm-9 no-padding"><textarea id="editor-js" name="js" rows="14" title="js代码">'+ (global && global['jssource'] ? global['jssource'] : '') +'</textarea></div>');
					html.push('</div>');
					html.push('<div class="form-group">');
						html.push('<label class="col-sm-2 control-label" for="html"> html代码: </label>');
						html.push('<div class="col-sm-9 no-padding"><textarea id="editor-html" class="col-sm-12" name="html" rows="14" title="html代码">'+ (global && global['html'] ? global['html'] : '') +'</textarea></div>');
					html.push('</div>');
				html.push('</div>');
			return html.join('');
		}
		
		//全局内容配置
		function configGlobal(){
			if(curTarget !== 'global') $dtoModel.find('.widget-main').empty();
			curTarget = 'global';
			$('.c-ele').addClass('hide');
			$('.c-ele-global').removeClass('hide');
			//是否已经选择了数据表
			var gr = $grid.jqGrid('getGridParam', 'selrow');//获取最新你选择行的id
		    if (gr != null){
		    	$dtoModel.removeClass('dto-model-hide').find('h6').html('<i class="icon-globe"></i> 配置全局内容');
		    	var global = null;
		    	if(dto && dto['cfgGlobal']) global = $.parseJSON(dto['cfgGlobal']);
		    	$dtoModel.find('.widget-main').empty().append(getGlobalElement(global));
		    	
		    	initEditor('editor-js');
		    	//initEditor('editor-html');
		        
		    	openModel();
		    }else
		      layer.msg('请选择数据表');
		}
		
		function openModel(){
			layer.open({
		  		  type: 1,
		  		  id: 'layer-config-model',
		  		  shade: false,
		  		  title: false,
		  		  move: '.widget-header',
		  		  closeBtn: 0,
		  		  skin: 'dto-form',
		  		  shadeClose: true,
		  		  area: ['760px'],
		  		  content: $dtoModel,
		  		  success: function(){
		  			$('#layer-config-model').removeAttr('style'); 
		  			tableSwitchable = false;//此时不能切换表格
		  			admin.attachVali($dtoForm);//激活验证
		  		  },
		  		  end: function(){
		  			$dtoModel.find('.widget-main').empty();
		  			selectedArr = new Array();
		  			$dtoModel.addClass('dto-model-hide');
		  			$('.c-ele').addClass('hide');
		  			tableSwitchable = true;
		  		  }
			});
		}
		
		//替换默认的提交方法
		function replaceFormSubmit(){
			var $smethod = $('#config-sub-method');
			var val = '';
			switch (curTarget) {
				case 'object':
					if(dto && dto['cfgObject'])
						val = $.parseJSON(dto['cfgObject'])['subMethod'] || '';	
					break;
				case 'search':
					if(dto && dto['cfgSearch'])
						val = $.parseJSON(dto['cfgSearch'])['subMethod'] || '';	
					break;
			}
			$smethod.val(val);
			layer.prompt({
				  formType: 2,
				  skin: 'layer-skin',
				  value: val,
				  title: '自定义表单提交方法',
				  area: ['500px', '50px']
				}, function(value, index, elem){
					if(/(^s*)|(s*$)/g.test(value)) value = '';
					$smethod.val(value);
				 	layer.close(index);
				});
		}
		
		//配置完成后保存 搜索表单配置
		function submitConfig(){
			if(!$dtoForm.validationEngine('validate')) return;
			
			var config = {
				'menuId': curMenuId//当前配置的菜单id
			}
			var data = $dtoModel.find('.form-data');
			if(curTarget === 'search'){
				var cols = new Array();
				var col;
				for(var i = 0, l = data.length; i < l; i++){
					col = {};
					col['label'] = $(data[i]).find('[name="label"]').val();
					col['name'] = $(data[i]).find('[name="name"]').val();
					col['column'] = $(data[i]).find('[name="column"]').val();
					col['type'] = $(data[i]).find('[name="type"]').val();
					col['widget'] = $(data[i]).find('[name="widget"]').val();
					col['vali'] = $(data[i]).find('[name="vali"]').val();
					col['source'] = $(data[i]).find('[name="source"]').val();
					col['value'] = $(data[i]).find('[name="value"]').val();
					cols.push(col);
				}
				var cs = {
					'cols': cols
				}
				config['cfgSearch'] = JSON.stringify(cs);
			}else if(curTarget === 'grid'){
				try {
					var grid = {
							url: {
								list: data.find('[name="list"]').val(),
								add: data.find('[name="add"]').val(),
								del: data.find('[name="del"]').val(),
								edit: data.find('[name="edit"]').val()
							},
							option: {
								colNames: $.parseJSON(data.find('[name="colNames"]').val()),
								colModel: $.parseJSON(data.find('[name="colModel"]').val()),
							}
						}
						config['cfgGrid'] = JSON.stringify(grid);
				} catch (e) {
					layer.msg('必须严格遵循JSON格式填写');
				}
				
			}else if(curTarget === 'object'){
				var dataAdd = $('.c-ele-add').find('.form-data');
				var dataEdit = $('.c-ele-edit').find('.form-data');
				
				function getParam(list){
					var cols = new Array(), col;
					for(var i = 0, l = list.length; i < l; i++){
						col = {};
						col['label'] = $(list[i]).find('[name="label"]').val();
						col['name'] = $(list[i]).find('[name="name"]').val();
						col['column'] = $(list[i]).find('[name="column"]').val();
						col['type'] = $(list[i]).find('[name="type"]').val();
						col['widget'] = $(list[i]).find('[name="widget"]').val();
						col['vali'] = $(list[i]).find('[name="vali"]').val();
						col['source'] = $(list[i]).find('[name="source"]').val();
						col['value'] = $(list[i]).find('[name="value"]').val();
						cols.push(col);
					}
					return cols;
				}
				
				config['cfgObject'] = JSON.stringify({
					cols: {
						add: getParam(dataAdd),
						edit: getParam(dataEdit)
					},
					subMethod: $('#config-sub-method').val()
				});
			}else if(curTarget === 'global'){
				var global = {
					js: editors['editor-js'].$txt.text(),
					html: $('#editor-html').val(),
					jssource: editors['editor-js'].$txt.html(),
				}
				config['cfgGlobal'] = JSON.stringify(global);
			}
			
			$.post('/admin/cfg/aoe', config, function(data){
				layer.msg(data.msg);
				if(data.success){
					//成功以后将dto的值修改一下
					var temp = 'cfg'+curTarget.replace(/^\S/,function(s){return s.toUpperCase();});
					dto[temp] = config[temp];
					layer.closeAll('page');
				}
			}, 'json');
			
			return false;
		}
		
		//初始化富文本框
		function initEditor(id){
			// 获取编辑区域的纯文本
		    //var text = editor.$txt.text();
			loadJS('editor', function(){
				editors[id] = new wangEditor(id);
				editors[id].config.menus = ['undo', 'redo', 'fullscreen'];
				/* if(id.indexOf('html') !== -1){
					editors[id].config.menus = ['insertcode', 'undo', 'redo', 'fullscreen'];
					editors[id].config.codeDefaultLang = 'html';
				} */
				editors[id].create();
			});
		}
	</script>
</body>

</html>