<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>无标题文档</title>
	    <link href="/static/a/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	    <div class="place">
	        <span>位置：</span>
	        <ul class="placeul">
	            <li><a href="#">首页</a></li>
	            <li><a href="#">数据表</a></li>
	            <li><a href="#">基本内容</a></li>
	        </ul>
	    </div>
	    <div class="rightinfo" id="datagrid"></div>
	</body>
	<#include "/admin/includes/javascript.html"/>
	<script src="/static/a/js/admin.js?v=1.0.0"></script>
	<script type="text/javascript">
	var tools = [
		{
			title: '添加',
			icon: '/static/a/images/t01.png'
		},{
			title: '修改',
			icon: '/static/a/images/t02.png'
		},{
			title: '删除',
			icon: '/static/a/images/t03.png'
		},{
			title: '统计',
			icon: '/static/a/images/t04.png'
		}
	];
	
	var columns = [
		{ checkbox: true, field:'id', title:''},
		{ field:'id', title:'编号', sortable:true },
		{ field:'name', title:'标题' },
		{ field:'user', title:'用户' },
		{ field:'birthplace', title:'籍贯' },
		{ field:'time', title:'发布时间', sortable:true },
		{ field:'isauth', title:'是否审核', sortable:true },
		{ field:'id', title:'操作' }
	];
	//datagrid
	admin.datagrid(tools, columns);
	</script>
</html>