<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="菜单管理">
	<#include "/admin/includes/header.html"/>
	<link rel="stylesheet" href="/static/a/css/validationEngine.jquery.css" />
	<link rel="stylesheet" href="/static/a/css/daterangepicker.css" />
	<style>
		.formError-small .formErrorContent {border-color: #fff; border-radius: 0;}
	</style>
</head>

<body class="custom">
	<div class="page-content">
		<div class="page-header">
			<div class="widget-box">
				<form id="search-form" class="form-horizontal" role="form" onsubmit="return admin.search();">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>搜索</h6>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a>
						</div>
						<div class="widget-toolbar no-border">
							<button class="btn btn-xs btn-info" type="submit"><i class="icon-search bigger-110"></i> 查&nbsp;询
							</button><button class="btn btn-xs" type="reset"><i class="icon-undo bigger-110"></i> 重&nbsp;置</button>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group" id="search-cnter">
								<!-- <div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_id"> 菜单编号: </label>
									<div class="col-sm-8">
										<input id="s-menu_id" type="text" placeholder="菜单编号" class="col-sm-12 validate[custom[integer]]" name="rq['menu_id']">
									</div>
								</div>
								<div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_name"> 菜单名称: </label>
									<div class="col-sm-8">
										<input type="text" id="s-menu_name" placeholder="菜单名称" class="col-sm-12" name="rq['menu_name']">
									</div>
								</div>
								<div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_state"> 菜单状态: </label>
									<div class="col-sm-8">
										<select id="s-menu_state" class="col-sm-12" name="rq['menu_state']">
											<option value=""></option>
											<option value="AL">Alabama</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3 no-padding-left">
									<label class="col-sm-4 control-label no-padding-right" for="s-menu_date"> 数据日期: </label>
									<div class="col-sm-8">
										<input type="text" class="auto-bind-timepicker col-sm-12" id="s-menu_date" data-constraint="rq['menu_date']" autocomplete="off"/>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /.page-header -->
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-table"></i>列表</h6>
						<div class="widget-toolbar"><a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a></div>
					</div>
					<div class="widget-body">
						<div class="widget-toolbox">
							<div class="btn-toolbar">
								<div class="btn-group" id="opt-cnter">
									<!-- <button class="btn btn-sm btn-success" onclick="admin.addDto();"><i class="icon-plus"></i> 新增
									</button><button class="btn btn-sm btn-danger" onclick="admin.editDto();"><i class="icon-edit"></i> 编辑</button> -->
								</div>
							</div>
						</div>
						<div class="widget-main">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div>
		<!-- /row -->
		<!-- PAGE CONTENT ENDS -->
		<div id="dto-model" class="dto-model-hide">
			<form id="dto-form" class="form-horizontal" role="form" onsubmit="return admin.submitDtoModelForm();">
				<div class="widget-box no-border">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>表单</h6>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group">
								<label class="col-sm-2 col-sm-offset-2 control-label no-padding-right" for="d-menu_id"> 菜单编号: </label>
								<div class="col-sm-6"><input id="d-menu_id" type="text" placeholder="菜单编号" class="col-sm-12 validate[required]" name="rq['menu_id']"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 col-sm-offset-2 control-label no-padding-right" for="form-field-1"> 菜单编号: </label>
								<div class="col-sm-6"><input type="text" placeholder="菜单编号" class="col-sm-12" name="rq['menu_id']"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 col-sm-offset-2 control-label no-padding-right" for="form-field-1"> 菜单编号: </label>
								<div class="col-sm-6"><input type="text" placeholder="菜单编号" class="col-sm-12" name="rq['menu_id']"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 col-sm-offset-2 control-label no-padding-right" for="form-field-1"> 菜单编号: </label>
								<div class="col-sm-6"><input type="text" placeholder="菜单编号" class="col-sm-12" name="rq['menu_id']"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 col-sm-offset-2 control-label no-padding-right" for="form-field-1"> 菜单编号: </label>
								<div class="col-sm-6"><input type="text" placeholder="菜单编号" class="col-sm-12" name="rq['menu_id']"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 col-sm-offset-2 control-label no-padding-right" for="form-field-1"> 菜单编号: </label>
								<div class="col-sm-6"><input type="text" placeholder="菜单编号" class="col-sm-12" name="rq['menu_id']"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 col-sm-offset-2 control-label no-padding-right" for="form-field-1"> 菜单编号: </label>
								<div class="col-sm-6"><input type="text" placeholder="菜单编号" class="col-sm-12" name="rq['menu_id']"></div>
							</div>
						</div>
						<div class="widget-toolbox padding-8 clearfix">
							<button type="button" class="btn btn-sm btn-danger pull-right" onclick="admin.closeDtoModel();">
								<i class="icon-trash"></i><span class="bigger-110"> 取&nbsp;消</span>
							</button>
							<button type="submit" class="btn btn-sm btn-primary pull-right">
								<i class="icon-ok"></i><span class="bigger-110"> 确&nbsp;定</span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	
	<script type="text/javascript">
		var config = {
				search: {
					cols: [
					        //widget: 控件类型        type: 字段类型        source:填充内容来源； value: 默认值什么的
					        {widget: 'text', type: 'varchar', name: 'menu_id', label: '菜单编号', vali: 'validate[custom[integer]]', source: '', value: ''},
					        {widget: 'text', type: 'varchar', name: 'menu_name', label: '菜单名称', vali: '', source: '', value: ''},
					        {widget: 'select', type: 'integer', name: 'menu_state', label: '菜单状态', vali: '', source: {type: 'fixed', cont: [{value: 0, text: '正常'}, {value: 1, text: '不正常'}]}, value: ''},
					        {widget: 'date', type: 'long', name: 'data_date', label: '数据日期', vali: '', source: '', value: ''}
					      ],
					 subMethod: ''
				},
				grid: {
					url: {
						list: '/admin/menu/list',
						del: '',
						add: '',
						edit: ''
					},
					btns: [//用于权限限制
					      	{type: 'outer', label: '新增', clss: 'btn-success', icon: 'icon-plus', handler: 'admin.addDto()', param: '', suburl: ''},
					      	{type: 'outer', label: '编辑', clss: 'btn-danger', icon: 'icon-plus', handler: 'admin.editDto()', param: '', suburl: ''},
					      	{type: 'outer', label: '配置', clss: 'btn-warning', icon: 'icon-cogs', handler: 'configs()', param: '', suburl: ''}
					     ],
					cols: []
				},
				form: {
					cols: []//新增，或修改字段集合
				},
				global: {
					variables: '',//一些自定义方法变量等，一条字符串，在页面中转换为js代码
					methods: '',
					valis: ''//自定义校验方法
				}
		}
		//写入搜索表单的数据
		admin.setSearchCont();
		//写入操作按钮
		admin.setOptionCont();
		
		//计算表格高度
		var $window = $(window), $header = $('.page-header:first'), $height = $window.height() - $header.height() - 230;
		var searchSelector = '#search-form', gridSelector = '#grid-table', pagerSelector = '#grid-pager', dtoModelSelector = '#dto-model';
		var $search = $(searchSelector), $grid = $(gridSelector), $pager = $(pagerSelector), $dtoModel = $(dtoModelSelector), $dtoForm = $('#dto-form');

		loadJS('jqgrid', function(){
			admin.initGrid();
		});
		loadJS('validate', function(){
			admin.attachVali($search);//给搜索表单绑定验证
			admin.attachVali($dtoForm);//给dto表单绑定验证
		});
		loadJS('datepicker', function(){
			admin.attachTimepicker();
		});

		function configs(){
			var index = layer.open({
				  type: 2,
				  title: '配置页面',
				  content: '/admin/forward/config',
				  area: ['100%', '100%'],
				  maxmin: true
			});
		}
	</script>
</body>

</html>