<!DOCTYPE html>
<html lang="en">

<head>
	<#assign title="菜单管理">
	<#include "/admin/includes/header.html"/>
	<link rel="stylesheet" href="/static/a/css/validationEngine.jquery.css" />
	<link rel="stylesheet" href="/static/a/css/daterangepicker.css" />
	<style>
		.formError-small .formErrorContent {border-color: #fff; border-radius: 0;}
	</style>
</head>

<body class="custom">
	<div class="page-content">
		<div class="page-header">
			<div class="widget-box">
				<form id="search-form" class="form-horizontal" role="form" onsubmit="return admin.search();">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>搜索</h6>
						<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a>
						</div>
						<div class="widget-toolbar no-border">
							<button class="btn btn-xs btn-info" type="submit"><i class="icon-search bigger-110"></i> 查&nbsp;询
							</button><button class="btn btn-xs" type="reset"><i class="icon-undo bigger-110"></i> 重&nbsp;置</button>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="form-group" id="search-cnter"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /.page-header -->
		<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-table"></i>列表</h6>
						<div class="widget-toolbar"><a href="#" data-action="collapse"><i class="1 icon-chevron-up"></i></a></div>
					</div>
					<div class="widget-body">
						<div class="widget-toolbox">
							<div class="btn-toolbar">
								<div class="btn-group" id="opt-cnter">
									<!-- <button class="btn btn-sm btn-success" onclick="admin.addDto();"><i class="icon-plus"></i> 新增
									</button><button class="btn btn-sm btn-danger" onclick="admin.editDto();"><i class="icon-edit"></i> 编辑</button> -->
								</div>
							</div>
						</div>
						<div class="widget-main">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div>
		<!-- /row -->
		<!-- PAGE CONTENT ENDS -->
		<div id="dto-model" class="dto-model-hide">
			<form id="dto-form" class="form-horizontal" role="form" onsubmit="return admin.submitDtoModelForm();">
				<div class="widget-box no-border">
					<div class="widget-header header-color-blue">
						<h6><i class="icon-search"></i>表单</h6>
					</div>
					<div class="widget-body">
						<div class="widget-main" id="object-cnter"></div>
						<div class="widget-toolbox padding-8 clearfix">
							<button type="button" class="btn btn-sm btn-danger pull-right" onclick="admin.closeDtoModel();">
								<i class="icon-trash"></i><span class="bigger-110"> 取&nbsp;消</span>
							</button>
							<button type="submit" class="btn btn-sm btn-primary pull-right">
								<i class="icon-ok"></i><span class="bigger-110"> 确&nbsp;定</span>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<!-- basic scripts -->
	<#include "/admin/includes/footer.html"/>
	
	<script type="text/javascript">
		var menuId = '${menu}';
		var config = {};
		//计算表格高度
		var $window = $(window), $header = $('.page-header:first'), $height = $window.height() - $header.height() - 266;
		var searchSelector = '#search-form', gridSelector = '#grid-table', pagerSelector = '#grid-pager', dtoModelSelector = '#dto-model';
		var $search = $(searchSelector), $grid = $(gridSelector), $pager = $(pagerSelector), $dtoModel = $(dtoModelSelector), $dtoForm = $('#dto-form');
		
		$.get('/admin/cfg/get?menuId='+menuId, function(data){
			if(data.success){
				var dto = data.data.dto;
				if(dto['cfgSearch']) config['search'] = $.parseJSON(dto.cfgSearch);
				if(dto['cfgGrid']) config['grid'] = $.parseJSON(dto.cfgGrid);
				if(dto['cfgObject']) config['object'] = $.parseJSON(dto.cfgObject);
				if(dto['cfgGlobal']) config['global'] = $.parseJSON(dto.cfgGlobal);
				init();
			}			
		}, 'json');

		function init(){
			//写入搜索表单的数据
			admin.setSearchCont();
			$.get('/admin/opt/btns?menuId='+menuId, function(data){
				if(data){
					//写入操作按钮
					if(!config.grid) config.grid = {};
					config.grid.btns = [];
					
					$(data).each(function(i, d){
						config.grid.btns.push({type: d.optType, label: d.optLabel, clss: d.optClass, icon: d.optIcon, handler: d.optHandler, param: '', suburl: d.optSuburl});
					});
					admin.setOptionCont();
				}
			}, 'json');
			
			loadJS('jqgrid', function(){
				admin.initGrid();
			});
			loadJS('validate', function(){
				admin.attachVali($search);//给搜索表单绑定验证
				admin.attachVali($dtoForm);//给dto表单绑定验证
			});
			loadJS('datepicker', function(){
				admin.attachTimepicker();
			});
		}
	</script>
</body>

</html>