<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>无标题文档</title>
	    <link href="/static/a/css/style.css" rel="stylesheet" type="text/css" />
	    <link href="/static/c/layer/skin/default/layer.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="sarchbody">
	    <div class="place">
	        <span>位置：</span>
	        <ul class="placeul">
	            <li><a href="#">首页</a></li>
	            <li><a href="#">数据表</a></li>
	            <li><a href="#">基本内容</a></li>
	        </ul>
	    </div>
	    <div class="formbody">
		    <div class="search"></div>
		    <div class="formtitle cl"><span>项目列表</span></div>
		    <div id="datagrid"></div>
		</div>
	</body>
	<#include "/admin/includes/javascript.html"/>
	<script type="text/javascript">
	var search = {
		columns: [
				{label: '父级菜单', type: 'text', name: "rq['menu_pid']", value: ''},
				{label: '菜单编号', type: 'text', name: 'menuId', value: ''},
				{label: '菜单状态', type: 'select', name: "rq['menu_state']", options: [{value:'', text:'请选择', selected: true}, {value:1, text:'有效'}, {value:0, text:'无效'}]},
				{label: 'tree', type: 'tree', name: "rq['menu_states']", config: {url:''}}
		],
		action: '', //action
		submit: function(){
			//alert('重新查询');
		}, //function 查询按钮的回调函数
		reset: null //function重置按钮的回调函数
	}
	
	tenui.search(search);
	
	var tools = [
		{
			title: '添加',
			icon: '/static/a/images/t01.png',
			handler: function(){
				alert('添加');
			}
		},{
			title: '修改',
			icon: '/static/a/images/t02.png'
		},{
			title: '删除',
			icon: '/static/a/images/t03.png'
		},{
			title: '统计',
			icon: '/static/a/images/t04.png'
		}
	];
	
	var columns = [
		{ checkbox: true, field:'menu_id', title:'', halign: 'center', align: 'center', width: 30},
		{ field:'menu_id', title:'编号', sortable:true, width: 40, align: 'center' },
		{ field:'menu_name', title:'标题' },
		{ field:'menu_url', title:'菜单链接' },
		{ field:'menu_desc', title:'菜单描述' },
		{ field:'menu_pid', title:'父菜单编号', sortable:true },
		{ field:'menu_state', title:'菜单状态', sortable:true, formatter: function(value, row, index){
			if(value == 1)
				return '<font color="green">正常</font>';
			else if(value == 0)
				return '<font color="red">不可用</font>';
			else
				return '未知状态';
		}},
		{ field:'menu_seq', title:'同级排序' },
		{ field:'id', title:'操作', formatter: function(value, row, index){
			return '<a href="javascript:alert('+ value +');" class="tablelink">查看</a> <a class="tablelink">删除</a>';
		} }
	];

	//datagrid
	tenui.datagrid.init({url:'/admin/menu/list', tools: tools, columns: columns});
	
	</script>
</html>